<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load static %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Об авторе:</h1>
  <br>

  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <div class="mask mask-one mask-one-frame">
        <img style='border:1px solid #000000' src="{% static 'img/myself.jpg' %}" width="280" height="350" class="d-inline-block align-top" alt="" >
  <img src="image1.jpg" class="mask-img" alt="">
</div>
  </aside>
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
   Привет. Меня зовут Алексей Беседин, мне 30 лет и я начинающий python бэкенд-разработчик. С недавних пор( с апреля 2022 года) стал интересоваться программированием, а позже понял, что хочу посвятить себя узучению языка программирования Python и смежных ему технологий. В связи с этим я решил пройти курсы от Яндекс Практикума Python Backend developer и надеюсь полученные знания дадут необходимый буст и помогут проявить себя как грамотный и сильный специалист в будущем.
<hr>
<img src="{% static 'img/github.png' %}" width="28" height="28" class="d-inline-block align-top" alt="">
    <a href="https://github.com/AlexBesedin">Ссылка на Гитхаб</a><br>
 <img src="{% static 'img/telegram.png' %}" width="28" height="28" class="d-inline-block align-top" alt="">
    <a href="https://t.me/beszedin">Телеграм</a>
  </article>
</div>
{% endblock %}

