<!DOCTYPE html>
{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="row">
    <aside class="col-12 col-md-3">
        <article class="col-12 col-md-12"
        <ul class="list-group list-group-flush">
            <li class="list-group-item">

                <b>Автор:</b> <span> {{post.author.get_full_name|default:post.author.username}} </span >
            </li>
            {% if post.group %}
            <li class="list-group-item">
                <b>Группа:</b><a href="{% url 'posts:group_list' post.group.slug %}">
                {{ post.group }}
                {% endif %}
                </a>
            </li>
            <li class="list-group-item">
                <b>Дата публикации:</b><br>  {{ post.pub_date }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Количество постов:</b>  {{ posts_count }}
            </li>
            <li class="list-group-item">
                <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
                </a>
            </li>
        </ul>
        <hr>
        {% if user.is_authenticated %}
        {% include 'posts/includes/follow_button.html' %}
        {% endif %}
    </aside>
    <article class="col-12 col-md-9">
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="img-fluid" src="{{ im.url }}">
        {% endthumbnail %}
        {% if user == post.author %}
        {% endif %}
        <p>
            {{ post.text|linebreaks }}
        </p>
        {% if user.is_authenticated %}
        <div style="display: block; text-align: right">
        <a href="{% url 'posts:post_edit' post.pk %}">
            <img src="{% static 'img/edit.png' %}" width="28" height="28" class="d-inline-block align-top" alt=""></div>
        {% endif %}
        </a>
        {% load user_filters %}
        {% if user.is_authenticated %}
        <div class="card my-4">
            <h5 class="card-header">Добавить комментарий:</h5>
            <div class="card-body">
                <form method="post" action="{% url 'posts:add_comment' post.pk %}">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        {{ form.text|addclass:"form-control some-class2 some-class3" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
        {% endif %}
        {% for comment in comments %}
        <div class="media mb-4">
            <div class="media-body">
                <h5 class="mt-4">
                    <a href="{% url 'posts:profile' comment.author.username %}">
                    {{ comment.author.username }}</a> // {{ comment.created }}
                </h5>
                <p>
                    {{ comment.text }}
                </p>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    </article>
</div>
</div>

